Flask
requests
numpy
scikit-learn
psycopg2-binary
gunicorn
drain3
paramiko
atlassian-python-api
duckduckgo_search
pytz
transformers
six
flask
tqdm
requests
paramiko
pywebio
pyserial
flask-cors
python-vlc
tk
tkinterweb
pywebview
openai
streamlit
scp
scpclient
pydub 
ffmpeg
Pillow
image
xmltodict
netifaces
tkinterdnd2
pygame
logparser3
drain3
numpy
psycopg2
networkx
matplotlib
scapy